<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
  
<suite name="TestNG session test automation Suite" >
  <test name="Different Feautures Test" >
  
    <classes>
      <class name="com.test.DependsOnMethods"/>
      <class name="com.test.ExceptionTimeOutTest"/>
      <class name="com.test.GoogleTest"/>
      <class name="com.test.GoogleTitleTest"/>
      <class name="com.test.InvocationCountTest"/>
      <class name="com.test.TestNGBasics"/>
    </classes>
  </test>
</suite>
